{% load static %}
<head>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Caveat:wght@400..700&family=Italianno&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    
    <link href="{% static "landing.css" %}" rel="stylesheet">
    </head>
    <header>
        <a href="/" class="logo">Sait</a>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="{% url "login" %}" class="login">Login</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    
    
    
    
    
    {% endblock content %}
{% block footer %}


     <!-- Footer -->
     <footer class="footer">
        <div class="footer-content">
            <div class="footer-brand">
                <h3>Sait</h3>
                <p>Leading construction site management platform trusted by professionals worldwide. Build smarter, manage better.</p>
                <div class="social-links">
                <li><a href="#" target="_blank"><i id="fb" class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" target="_blank"><i id="x" class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" target="_blank"><i id="ig" class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" target="_blank"><i id="li" class='bx bxl-linkedin'></i></a></li>
                        <li><a href="#" target="_blank"><i id="yt" class='bx bxl-youtube'></i></a></li>
                </div>
            </div>
            
            <div class="footer-section">
                <h4>Product</h4>
                <ul>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Integrations</a></li>
                    <li><a href="#">API</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h4>Support</h4>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Status</a></li>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>&copy; 2025 Sait. All rights reserved. | Privacy Policy | Terms of Service</p>
        </div>
    </footer>
{% endblock footer %}